<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>nghaskday2016</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= webpackConfig.metadata.title %>">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <base href="<%= webpackConfig.metadata.baseUrl %>">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="./manifest.json">
    <link rel="shortcut icon" href="./favicon.ico">
    <script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('./service-worker.js')
  .then((registration) => {
    console.log('ServiceWorker registration successful with scope: ', registration.scope);
  }).catch((err) => {
    console.log('ServiceWorker registration failed: ', err);
  });
}
    </script>
  </head>
  <body>
    <my-app>Loading...</my-app>
  </body>
</html>
